 body{
  background: url(img4.jpg);

 }




 div.abt{
      
       width: 50%;
       margin-left: 25%;
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        color: White;
        padding: 15px;
       background:linear-gradient(#575245,#0b4508,#1b4027);
        align-items: center;
        border-radius: 40px;
    }

    div.abt2{
      
       width: 35%;
       margin-left: 13%;
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        color: #fff;

        padding: 20px;
        background:linear-gradient(#1b4027,#575245,#1b4027); 
        align-items: center;
        border-radius: 40px;
    }

    div.abt3{
     width: 45%;
       margin-left: 20%;
        background-color: #000;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        color: #fff;
        padding: 20px;
        background:linear-gradient(#0b4508,#575245,#1b4027);
        align-items: center;
        border-radius: 20px;
      }
  
.navbar{
  height: 80px;
  width: 100%;
  background: rgba(0,0,0,0.4);
}
.logo{
  width: 70px;
  height: auto;
  padding: 10px 100px;
  border-radius: 100%;
  
}
.navbar ul{
  float: right;
  margin-right: 20px;
}
.navbar ul li{
  list-style: none;
  margin: 0 8px;
  display: inline-block;
  line-height: 80px;
}
.navbar ul li a{
  text-decoration: none;
  color: white;
  font-size: 15px;
  padding: 6px 13px;
  font-family: sans-serif;
}
.navbar ul li a.about,
.navbar ul li a:hover{
  background:linear-gradient(#7d4301, #085424);
  border-radius: 8px;
}
